git+git://github.com/spulec/moto#egg=moto
python-dateutil==2.8.1
git+git://github.com/CloudVE/cloudbridge#egg=cloudbridge
git+git://github.com/CloudVE/djcloudbridge#egg=djcloudbridge
git+git://github.com/galaxyproject/cloudlaunch#egg=cloudlaunch[test]
-e ".[test]"
