moto==1.3.7
python-dateutil==2.7.5
git+git://github.com/gvlproject/cloudbridge#egg=cloudbridge
git+git://github.com/CloudVE/djcloudbridge#egg=djcloudbridge
git+git://github.com/galaxyproject/cloudlaunch#egg=cloudlaunch[test]
-e ".[test]"
